:root {
    --font-serif: "Iowan Old Style", "Sitka Text", Palatino, "Book Antiqua", serif;
}

h1 {
    font-family: var(--font-serif);
}

.github-theme {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #24292e;
    word-wrap: break-word;

    a {
        text-decoration: none;
        background-color: initial;
        color: inherit;

        &:active,
        &:hover {
            outline-width: 0;
        }

        &:hover {
            text-decoration: underline;
        }

        &:not([href]) {
            color: inherit;
            text-decoration: none;
        }
    }

    img {
        border-style: none;
    }

    code {
        padding: 0.2em 0.4em;
        margin: 0;
        font-size: 0.87em;
        background-color: #f8f7ff;
        border-radius: 3px;
    }

    pre {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1em;
    }

    hr {
        width: 50px;
        height: 0.1em;
        box-sizing: initial;
        overflow: visible;

        margin: 2.4rem auto;
        padding: 0;

        background-color: #e1e4e8;
        border: 0;
    }

    // input
    input {
        font: inherit;
        margin: 0;
    }

    input {
        overflow: visible;
    }

    [type="checkbox"] {
        box-sizing: border-box;
        padding: 0;
    }

    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
        margin: 0;
        -webkit-appearance: none;
        appearance: none;
    }

    :checked + .radio-label {
        position: relative;
        z-index: 1;
        border-color: #0366d6;
    }

    // headers
    h1,
    h2 {
        font-family: var(--font-serif);
    }

    h1 {
        font-size: 2.1em;
        &::after {
            display: block;
            content: "";
            border-bottom: 0.1rem solid #ccc;
            width: 70px;
            margin-top: 10px;
        }
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.15em;
    }

    h4 {
        font-size: 1em;
    }

    h5 {
        font-size: 0.875em;
    }

    h6 {
        font-size: 0.85em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 600;
        margin-top: 1.4em;
        margin-bottom: 1.4em;
        line-height: 1.25;
        color: #172b4d;
    }

    strong {
        font-weight: 600;
    }

    hr:after,
    hr:before {
        display: table;
        content: "";
    }

    hr:after {
        clear: both;
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;
    }

    td,
    th {
        padding: 0;
    }

    details summary {
        cursor: pointer;
    }

    p {
        margin-top: 0;
    }

    blockquote {
        margin: 0 0 1.45rem 0;
        padding: 0 1em;
        border-left: 0.25em solid #dfe2e5;

        line-height: 1.5rem;
        color: #6a737d;

        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    // table-related
    menu,
    ol,
    ul {
        margin: 0;
        padding: 0;
    }

    ol,
    ul {
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    ol ol,
    ul ol {
        list-style-type: lower-roman;
    }

    ol ol ol,
    ol ul ol,
    ul ol ol,
    ul ul ol {
        list-style-type: lower-alpha;
    }

    dd {
        margin-left: 0;
    }

    details,
    dl,
    ol,
    p,
    pre,
    table,
    ul {
        margin-top: 0;
        margin-bottom: 1.45em;
        line-height: 1.5rem;
    }

    thead,
    tbody,
    tfoot {
        border-bottom: none;
    }

    pre > code {
        background: transparent;
    }

    ul {
        list-style: circle;
    }

    ol,
    ul {
        padding-left: 2em;
    }

    ol ol,
    ol ul,
    ul ol,
    ul ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    li {
        word-wrap: break-all;
    }

    li > p {
        margin-top: 16px;
    }

    li + li {
        margin-top: 0.25em;
    }

    dl {
        padding: 0;
    }

    dl dt {
        padding: 0;
        margin-top: 16px;
        font-size: 1em;
        font-style: italic;
        font-weight: 600;
    }

    dl dd {
        padding: 0 16px;
        margin-bottom: 16px;
    }

    table {
        display: block;
        width: 100%;
        overflow: auto;
        border-collapse: collapse;
        border-spacing: 0;
    }

    table th {
        font-weight: 600;
    }

    table td,
    table th {
        padding: 6px 13px;
        border: 1px solid #dfe2e5;
    }

    table tr {
        background-color: #fff;
        border-top: 1px solid #c6cbd1;
    }

    table tr:nth-child(2n) {
        background-color: #f6f8fa;
    }

    img {
        max-width: 100%;
        box-sizing: initial;
        background-color: #fff;
        width: auto;
        height: auto;
    }

    img[align="right"] {
        padding-left: 20px;
    }

    img[align="left"] {
        padding-right: 20px;
    }

    pre {
        word-wrap: normal;
    }

    p > code {
        white-space: nowrap;
        color: #b388eb;
    }

    pre > code {
        padding: 0;
        margin: 0;
        font-size: 100%;
        word-break: normal;
        white-space: pre;
        background: transparent;
        border: 0;
    }

    .highlight {
        margin-bottom: 16px;
    }

    .highlight pre {
        margin-bottom: 0;
        word-break: normal;
    }

    .highlight pre,
    pre {
        padding: 16px 0;
        overflow: auto;
        font-size: 0.87em;
        line-height: 1.6;
        background-color: #faf8f544;
        border: 1px solid #dfe2e555;
        border-radius: 3px;
    }

    pre code {
        display: inline;
        max-width: auto;
        padding: 0;
        margin: 0;
        overflow: visible;
        line-height: inherit;
        word-wrap: normal;
        background-color: initial;
        border: 0;
    }

    .hljs-focus {
        display: inline-block;
        width: 100%;
        padding: 0 16px;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
    }

    .hljs-focus:empty {
        display: none;
    }

    .hljs-focus.focused {
        border-left: 2px solid #dad8d688;
        border-right: 2px solid #dad8d688;
        background: #f5f3f0aa;
    }
}

[data-theme="dark"] {
    .github-theme {
        color: #adb5bd;

        code {
            color: #bfa2db;
            background-color: rgba(255, 255, 255, 0.1);
        }

        hr {
            background-color: #73777b;
        }

        h1 {
            &::after {
                border-bottom: 0.1rem solid #73777b;
            }
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #eeeeee;
        }

        table {
            td,
            th {
                border: 1px solid #30363d;
            }

            tr {
                background-color: transparent;
                border-top: 1px solid #30363d;

                &:nth-child(2n) {
                    background-color: rgba(255, 255, 255, 0.08);
                }
            }
        }

        img {
            background-color: transparent;
        }

        pre {
            background: rgba(255, 255, 255, 0.05);
        }

        pre > code {
            background: transparent;
        }
    }
}

a:target {
    border-bottom: 0.25em solid #38b2ac;
}

/* Mathjax */
mjx-container[jax="SVG"] {
    display: inline-block;
    vertical-align: middle;
    overflow-x: auto;
}

mjx-container[jax="SVG"] > svg {
    margin: 0 auto;
}

.noteContent > h1 ~ p,
.noteContent > h1 ~ ul:not(.noteContent > h2:last-of-type ~ ul) {
    a {
        text-decoration-line: underline;
        text-decoration-color: #94a3b8;
        text-decoration-style: dotted;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;

        &:hover {
            text-decoration-color: #e2e8f0;
            text-decoration-style: solid;
            text-decoration-thickness: 2px;
            text-underline-offset: 4px;
        }
    }
}
