:root {
    --font-serif: "Iowan Old Style", "Sitka Text", Palatino, "Book Antiqua", serif;
}

h1 {
    font-family: var(--font-serif);
}

.github-theme {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #24292e;
    word-wrap: break-word;

    * {
        box-sizing: border-box;
    }

    .octicon {
        display: inline-block;
        fill: currentColor;
        vertical-align: text-bottom;
    }

    .anchor {
        float: left;
        line-height: 1;
        margin-left: -20px;
        padding-right: 4px;
    }

    .anchor:focus {
        outline: none;
    }

    details {
        display: block;
    }

    summary {
        display: list-item;
    }

    a {
        text-decoration: none;
        background-color: initial;
        color: inherit;

        &:active,
        &:hover {
            outline-width: 0;
        }

        &:hover {
            text-decoration: underline;
        }

        &:not([href]) {
            color: inherit;
            text-decoration: none;
        }
    }

    img {
        border-style: none;
    }

    // code
    code {
        padding: 0.2em 0.4em;
        margin: 0;
        font-size: 0.87em;
        background-color: #f6f8fa55;
        border-radius: 3px;
    }

    pre {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1em;
    }

    kbd {
        display: inline-block;
        padding: 3px 5px;
        line-height: 10px;
        color: #444d56;
        vertical-align: middle;
        background-color: #fafbfc;
        border: 1px solid #d1d5da;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 #d1d5da;
        font-size: 1em;
    }

    // break
    hr {
        width: 50px;
        height: 0.1em;
        box-sizing: initial;
        overflow: visible;

        margin: 2.4rem auto;
        padding: 0;

        background-color: #e1e4e8;
        border: 0;
    }

    // input
    input {
        font: inherit;
        margin: 0;
    }

    input {
        overflow: visible;
    }

    [type="checkbox"] {
        box-sizing: border-box;
        padding: 0;
    }

    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
        margin: 0;
        -webkit-appearance: none;
        appearance: none;
    }

    :checked + .radio-label {
        position: relative;
        z-index: 1;
        border-color: #0366d6;
    }

    // headers
    h1,
    h2 {
        font-family: var(--font-serif);
    }

    h1 {
        font-size: 2.1em;
        &::after {
            display: block;
            content: "";
            border-bottom: 0.1rem solid #ccc;
            width: 70px;
            margin-top: 10px;
        }
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.15em;
    }

    h4 {
        font-size: 1em;
    }

    h5 {
        font-size: 0.875em;
    }

    h6 {
        font-size: 0.85em;
        color: #6a737d;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 600;
        margin-top: 1.4em;
        margin-bottom: 1.4em;
        line-height: 1.25;

        .octicon-link {
            color: #1b1f23;
            vertical-align: middle;
            visibility: hidden;
        }

        &:hover {
            .anchor {
                text-decoration: none;

                .octicon-link {
                    visibility: visible;
                    &::before {
                        width: 16px;
                        height: 16px;
                        content: " ";
                        display: inline-block;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
                    }
                }
            }
        }
    }

    strong {
        font-weight: 600;
    }

    hr:after,
    hr:before {
        display: table;
        content: "";
    }

    hr:after {
        clear: both;
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;
    }

    td,
    th {
        padding: 0;
    }

    details summary {
        cursor: pointer;
    }

    kbd {
        display: inline-block;
        padding: 3px 5px;
        line-height: 10px;
        color: #444d56;
        vertical-align: middle;
        background-color: #fafbfc;
        border: 1px solid #d1d5da;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 #d1d5da;
    }

    p {
        margin-top: 0;
    }

    blockquote {
        margin: 0 0 1.45rem 0;
        padding: 0 1em;
        border-left: 0.25em solid #dfe2e5;

        line-height: 1.5rem;
        color: #6a737d;

        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    // table-related
    menu,
    ol,
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ol,
    ul {
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    ol ol,
    ul ol {
        list-style-type: lower-roman;
    }

    ol ol ol,
    ol ul ol,
    ul ol ol,
    ul ul ol {
        list-style-type: lower-alpha;
    }

    dd {
        margin-left: 0;
    }

    details,
    dl,
    ol,
    p,
    pre,
    table,
    ul {
        margin-top: 0;
        margin-bottom: 1.45em;
        line-height: 1.5rem;
    }
}

.github-theme .border {
    border: 1px solid #e1e4e8 !important;
}

.github-theme .border-0 {
    border: 0 !important;
}

.github-theme .border-bottom {
    border-bottom: 1px solid #e1e4e8 !important;
}

.github-theme .rounded-1 {
    border-radius: 3px !important;
}

.github-theme .bg-white {
    background-color: #fff !important;
}

.github-theme .bg-gray-light {
    background-color: #fafbfc !important;
}

.github-theme .text-gray-light {
    color: #6a737d !important;
}

.github-theme .mt-0 {
    margin-top: 0 !important;
}

.github-theme .mb-0 {
    margin-bottom: 0 !important;
}

.github-theme .my-2 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.github-theme .pl-0 {
    padding-left: 0 !important;
}

.github-theme .py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.github-theme .pl-1 {
    padding-left: 4px !important;
}

.github-theme .pl-2 {
    padding-left: 8px !important;
}

.github-theme .py-2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.github-theme .pl-3,
.github-theme .px-3 {
    padding-left: 16px !important;
}

.github-theme .px-3 {
    padding-right: 16px !important;
}

.github-theme .pl-4 {
    padding-left: 24px !important;
}

.github-theme .pl-5 {
    padding-left: 32px !important;
}

.github-theme .pl-6 {
    padding-left: 40px !important;
}

.github-theme .f6 {
    font-size: 12px !important;
}

.github-theme .lh-condensed {
    line-height: 1.25 !important;
}

.github-theme .text-bold {
    font-weight: 600 !important;
}

.github-theme .pl-c {
    color: #6a737d;
}

.github-theme .pl-c1,
.github-theme .pl-s .pl-v {
    color: #005cc5;
}

.github-theme .pl-e,
.github-theme .pl-en {
    color: #6f42c1;
}

.github-theme .pl-s .pl-s1,
.github-theme .pl-smi {
    color: #24292e;
}

.github-theme .pl-ent {
    color: #22863a;
}

.github-theme .pl-k {
    color: #d73a49;
}

.github-theme .pl-pds,
.github-theme .pl-s,
.github-theme .pl-s .pl-pse .pl-s1,
.github-theme .pl-sr,
.github-theme .pl-sr .pl-cce,
.github-theme .pl-sr .pl-sra,
.github-theme .pl-sr .pl-sre {
    color: #032f62;
}

.github-theme .pl-smw,
.github-theme .pl-v {
    color: #e36209;
}

.github-theme .pl-bu {
    color: #b31d28;
}

.github-theme .pl-ii {
    color: #fafbfc;
    background-color: #b31d28;
}

.github-theme .pl-c2 {
    color: #fafbfc;
    background-color: #d73a49;
}

.github-theme .pl-c2:before {
    content: "^M";
}

.github-theme .pl-sr .pl-cce {
    font-weight: 700;
    color: #22863a;
}

.github-theme .pl-ml {
    color: #735c0f;
}

.github-theme .pl-mh,
.github-theme .pl-mh .pl-en,
.github-theme .pl-ms {
    font-weight: 700;
    color: #005cc5;
}

.github-theme .pl-mi {
    font-style: italic;
    color: #24292e;
}

.github-theme .pl-mb {
    font-weight: 700;
    color: #24292e;
}

.github-theme .pl-md {
    color: #b31d28;
    background-color: #ffeef0;
}

.github-theme .pl-mi1 {
    color: #22863a;
    background-color: #f0fff4;
}

.github-theme .pl-mc {
    color: #e36209;
    background-color: #ffebda;
}

.github-theme .pl-mi2 {
    color: #f6f8fa;
    background-color: #005cc5;
}

.github-theme .pl-mdr {
    font-weight: 700;
    color: #6f42c1;
}

.github-theme .pl-ba {
    color: #586069;
}

.github-theme .pl-sg {
    color: #959da5;
}

.github-theme .pl-corl {
    text-decoration: underline;
    color: #032f62;
}

.github-theme .mb-0 {
    margin-bottom: 0 !important;
}

.github-theme .my-2 {
    margin-bottom: 8px !important;
}

.github-theme .my-2 {
    margin-top: 8px !important;
}

.github-theme .pl-0 {
    padding-left: 0 !important;
}

.github-theme .py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.github-theme .pl-1 {
    padding-left: 4px !important;
}

.github-theme .pl-2 {
    padding-left: 8px !important;
}

.github-theme .py-2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.github-theme .pl-3 {
    padding-left: 16px !important;
}

.github-theme .pl-4 {
    padding-left: 24px !important;
}

.github-theme .pl-5 {
    padding-left: 32px !important;
}

.github-theme .pl-6 {
    padding-left: 40px !important;
}

.github-theme .pl-7 {
    padding-left: 48px !important;
}

.github-theme .pl-8 {
    padding-left: 64px !important;
}

.github-theme .pl-9 {
    padding-left: 80px !important;
}

.github-theme .pl-10 {
    padding-left: 96px !important;
}

.github-theme .pl-11 {
    padding-left: 112px !important;
}

.github-theme .pl-12 {
    padding-left: 128px !important;
}

.github-theme ol,
.github-theme ul {
    padding-left: 2em;
}

.github-theme ol ol,
.github-theme ol ul,
.github-theme ul ol,
.github-theme ul ul {
    margin-top: 0;
    margin-bottom: 0;
}

.github-theme li {
    word-wrap: break-all;
}

.github-theme li > p {
    margin-top: 16px;
}

.github-theme li + li {
    margin-top: 0.25em;
}

.github-theme dl {
    padding: 0;
}

.github-theme dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}

.github-theme dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.github-theme table {
    display: block;
    width: 100%;
    overflow: auto;
}

.github-theme table th {
    font-weight: 600;
}

.github-theme table td,
.github-theme table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

.github-theme table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

.github-theme table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.github-theme img {
    max-width: 100%;
    box-sizing: initial;
    background-color: #fff;
    width: auto;
    height: auto;
}

.github-theme img[align="right"] {
    padding-left: 20px;
}

.github-theme img[align="left"] {
    padding-right: 20px;
}

.github-theme pre {
    word-wrap: normal;
}

.github-theme p > code {
    color: #066;
}

.github-theme pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.github-theme .highlight {
    margin-bottom: 16px;
}

.github-theme .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.github-theme .highlight pre,
.github-theme pre {
    padding: 16px 0;
    overflow: auto;
    font-size: 0.87em;
    line-height: 1.6;
    background-color: #faf8f544;
    border: 1px solid #dfe2e555;
    border-radius: 3px;
}

.github-theme pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: initial;
    border: 0;
}

.github-theme .commit-tease-sha {
    display: inline-block;
    font-size: 90%;
    color: #444d56;
}

.github-theme .full-commit .btn-outline:not(:disabled):hover {
    color: #005cc5;
    border-color: #005cc5;
}

.github-theme .blob-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
}

.github-theme .blob-wrapper-embedded {
    max-height: 240px;
    overflow-y: auto;
}

.github-theme .blob-num {
    width: 1%;
    min-width: 50px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    line-height: 20px;
    color: rgba(27, 31, 35, 0.3);
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.github-theme .blob-num:hover {
    color: rgba(27, 31, 35, 0.6);
}

.github-theme .blob-num:before {
    content: attr(data-line-number);
}

.github-theme .blob-code {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 20px;
    vertical-align: top;
}

.github-theme .blob-code-inner {
    overflow: visible;
    font-size: 12px;
    color: #24292e;
    word-wrap: normal;
    white-space: pre;
}

.github-theme .pl-token.active,
.github-theme .pl-token:hover {
    cursor: pointer;
    background: #ffea7f;
}

.github-theme .tab-size[data-tab-size="1"] {
    -moz-tab-size: 1;
    tab-size: 1;
}

.github-theme .tab-size[data-tab-size="2"] {
    -moz-tab-size: 2;
    tab-size: 2;
}

.github-theme .tab-size[data-tab-size="3"] {
    -moz-tab-size: 3;
    tab-size: 3;
}

.github-theme .tab-size[data-tab-size="4"] {
    -moz-tab-size: 4;
    tab-size: 4;
}

.github-theme .tab-size[data-tab-size="5"] {
    -moz-tab-size: 5;
    tab-size: 5;
}

.github-theme .tab-size[data-tab-size="6"] {
    -moz-tab-size: 6;
    tab-size: 6;
}

.github-theme .tab-size[data-tab-size="7"] {
    -moz-tab-size: 7;
    tab-size: 7;
}

.github-theme .tab-size[data-tab-size="8"] {
    -moz-tab-size: 8;
    tab-size: 8;
}

.github-theme .tab-size[data-tab-size="9"] {
    -moz-tab-size: 9;
    tab-size: 9;
}

.github-theme .tab-size[data-tab-size="10"] {
    -moz-tab-size: 10;
    tab-size: 10;
}

.github-theme .tab-size[data-tab-size="11"] {
    -moz-tab-size: 11;
    tab-size: 11;
}

.github-theme .tab-size[data-tab-size="12"] {
    -moz-tab-size: 12;
    tab-size: 12;
}

.github-theme .task-list-item {
    list-style-type: none;
}

.github-theme .task-list-item + .task-list-item {
    margin-top: 3px;
}

.github-theme .task-list-item input {
    margin: 0 0.2em 0.25em -1.6em;
    vertical-align: middle;
}

.github-theme:not(.no-list) ul {
    list-style: circle;
}

/* Mathjax */

mjx-container[jax="SVG"] {
    display: inline-block;
    vertical-align: middle;
    overflow-x: auto;
}

mjx-container[jax="SVG"] > svg {
    margin: 0 auto;
}

.github-theme .hljs-focus {
    display: inline-block;
    width: 100%;
    padding: 0 16px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.github-theme .hljs-focus:empty {
    display: none;
}

.github-theme .hljs-focus.focused {
    border-left: 2px solid #dad8d688;
    border-right: 2px solid #dad8d688;
    background: #f5f3f0aa;
}

.github-theme .post-date {
    @apply mr-5 text-gray-400;
    font-variant-numeric: tabular-nums slashed-zero;
}

a:target {
    border-bottom: 0.25em solid #bdffec;
}

.post-content > h1 ~ p,
.post-content > h1 ~ ul:not(.post-content > h2:last-of-type ~ ul) {
    a {
        @apply underline decoration-slate-400 decoration-dotted decoration-2 underline-offset-4;

        &:hover {
            @apply underline decoration-slate-200 decoration-solid decoration-2 underline-offset-4;
        }
    }
}
